<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pentagon | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <div id="home" class="section-bg-image parallax-window shape-overlay box-middle-container ken-burn-center white row-21" data-natural-height="1000" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x1000">
            <div class="container content box-middle">
                <h1 class="text-xxl text-center font-1 text-black" data-anima="fade-in" data-time="3000">Structura</h1>
            </div>
        </div>
        <div class="section-empty no-border-top z-index">
            <div class="container content">
                <div class="fixed-area fixed-inner-menu" data-topscroll="0">
                    <div class="navbar navbar-inner text-m">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul id="menu" class="nav navbar-nav inner nav-center">
                                <li class="current-active active"><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#events">Events</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#plans">Plans</a></li>
                                <li><a href="#contacts">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="space" />
                <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:true,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-old-tv icon circle anima"></i>
                                <h3>Retrò shows</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-plurk icon circle anima"></i>
                                <h3>Funny networking</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-pepper-withfire icon circle anima"></i>
                                <h3>Spicy interiors</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-pizza-slice icon circle anima"></i>
                                <h3>Italian food</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-parrot icon circle anima"></i>
                                <h3>Tropical experiences</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="about" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>We don't like convetional things</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            At vero eos et accusam et justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolor sit amet.  no sea takimata sanctus esto.
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolore ino.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-texts list-texts-justified text-s">
                            <li><b>Paints</b> <span>Allamco laboris nisi</span></li>
                            <li><b>Music</b> <span>Masanctus esto bertollo</span></li>
                            <li><b>Photography</b> <span>Addolore site ameto</span></li>
                            <li><b>Art videos</b> <span>Rakimata denda artiuso</span></li>
                            <li><b>Graphics</b> <span>Commodo consequa per torne</span></li>
                            <li><b>Architectural</b> <span>Velite esse cillum dolore</span></li>
                            <li><b>Society</b> <span>Nostrud exercitation retro</span></li>
                            <li><b>Location</b> <span>Duis aute irure dolore</span></li>
                            <li><b>Surfing</b> <span>Consectetur adipiscing elitse</span></li>
                            <li><b>Tech</b> <span>Addolore site ameto</span></li>
                            <li><b>People</b> <span>Allamco laboris nisi</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <table class="grid-table border-table grid-table-xs-12">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="counter-box-simple counter-box-vertical">
                                            <span class="counter text-xll" data-to="91"></span>
                                            <span class="text-m">Artists and musicians </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="counter-box-simple counter-box-vertical">
                                            <span class="counter text-xll" data-to="60"></span>
                                            <span class="text-m">Completed projects</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="counter-box-simple counter-box-vertical">
                                            <span class="counter text-xll" data-to="45"></span>
                                            <span class="text-m">Cities</span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center-sm">
                        <h2>A wise team focused to funny projects</h2>
                        <hr class="space s" />
                        <a href="#" class="btn-text">View all members</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="events" class="section-empty background-dots">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2 class="">Monthly events hand picked for you</h2>
                        <hr class="space m" />
                        <a href="#" class="btn btn-sm">View all events</a>
                        <hr class="space m visible-xs" />
                    </div>
                    <div class="col-md-8">
                        <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:4,controlNav:false,directionNav:true">
                            <ul class="slides">
                                <li>
                                    <div class="advs-box advs-box-side-icon no-icon">
                                        <div class="caption-box">
                                            <h3>Classic Minds Meetup </h3>
                                            <span class="extra-content">25 August 2019</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio, repellat fuga!
                                                Purus expedita fusce temporibus esto odito mi quoso restando perlo.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-side-icon no-icon">
                                        <div class="caption-box">
                                            <h3>The Secreted of Interiors Arts</h3>
                                            <span class="extra-content">31 August 2019</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio, repellat fuga!
                                                Purus expedita fusce temporibus esto odito meritano cionia artisona.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-side-icon no-icon">
                                        <div class="caption-box">
                                            <h3>Youth back to the old future</h3>
                                            <span class="extra-content">05 September 2019</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio, repellat fuga!
                                                Purus expedita fusce temporibus esto odito mi quoso mertillo mio.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-side-icon no-icon">
                                        <div class="caption-box">
                                            <h3>Royal Academy Arts Exibition</h3>
                                            <span class="extra-content">19 September 2019</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio, repellat fuga!
                                                Purus expedita fusce temporibus esto odito mi quoso keliquid sempere verita.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="flexslider carousel png-over outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:false">
                    <ul class="slides">
                        <li>
                            <img src="../images/logos/logo_1b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_2b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_3b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_4b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_5b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_1b.png" alt="logo" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-6">
                        <a class="img-box lightbox shadow row-12" data-lightbox-anima="fade-right" href="http://via.placeholder.com/800x600">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h2>We believe that teamwork divides the tasks and multiplies the success</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi nterdum iusto pulvinar consequuntur augue optio, repellat fuga!
                            Purus expedita fusce temporibus esto odito mi quoso mertut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in repre.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery" class="section-empty">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Photos & videos</h2>
                    <p>
                        Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="maso-list gallery">
                    <div class="navbar navbar-inner">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav nav-center over ms-minimal inner maso-filters">
                                <li class="current-active active"><a data-filter="maso-item">All</a></li>
                                <li><a data-filter="cat1">Arts</a></li>
                                <li><a data-filter="cat2">Urban</a></li>
                                <li><a data-filter="cat3">Creative</a></li>
                                <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="maso-box maso-layout row" data-lightbox-anima="fade-top">
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat2">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat3">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat2">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat3">
                            <a class="img-box shadow" href="http://via.placeholder.com/800x600">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <a class="img-box shadow" href="../images/gallery/image-1.jpg">
                                <img src="../images/gallery/image-1.jpg" alt="">
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="list-nav">
                        <a href="#" class="btn-sm btn load-more-maso" data-page-items="4">Load More <i class="fa fa-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty background-dots">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-3">
                        <div class="title-base text-left">
                            <hr class="anima">
                            <h2>New ideas for a better world</h2>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <p>
                            Inceptos gravida? Platea imperdiet odio, dolorem temporibus diamlorem nascetur aliqua blandit, faucibus. Hendrerit culpa corporis,
                            autem dui, luctus, torquent faucibus provident.Eros cupiditate, optio fermentum vehicula pellentesque dolore molestias quod ab, consectetuer, sodales
                            repudiandae minima, quas malesuada ullam minima maxime hymenaeos, dolor sodales illum illum felis similique sociosqu torquent repudiandae aspernature.
                        </p>
                    </div>
                </div>
                <hr class="space m" />
                <table class="grid-table border-table grid-table-xs-12 text-left">
                    <tbody>
                        <tr>
                            <td>
                                <div class="icon-box">
                                    <div class="icon-box-cell">
                                        <i class="im-tree-4 text-xl"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Eco system</label>
                                        <p class="text-s">Lorem ipsum dolor</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box">
                                    <div class="icon-box-cell">
                                        <i class="im-alarm-clock text-xl"></i>
                                    </div><div class="icon-box-cell"><label class="text-m">Deadline obsessed</label><p class="text-s">Lorem ipsum dolor</p></div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box">
                                    <div class="icon-box-cell">
                                        <i class="im-tie-2 text-xl"></i>
                                    </div><div class="icon-box-cell"><label class="text-m">True experts</label><p class="text-s">Lorem ipsum dolor</p></div>
                                </div>
                            </td>
                            <td>
                                <div class="icon-box">
                                    <div class="icon-box-cell">
                                        <i class="im-business-woman text-xl"></i>
                                    </div><div class="icon-box-cell"><label class="text-m">Great support </label><p class="text-s">Lorem ipsum dolor</p></div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div id="plans" class="section-empty">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Plans & pricings</h2>
                    <p>
                        Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <hr class="space s" />
                <div class="row" data-anima="fade-bottom" data-timeline="asc">
                    <div class="col-md-3 anima">
                        <div class="list-group pricing-table">
                            <div class="list-group-item pricing-price">
                                99 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>
                                    Starter plan
                                </h3>
                            </div>
                            <div class="list-group-item">
                                General contracting
                            </div>
                            <div class="list-group-item">
                                Pre-Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 anima">
                        <div class="list-group pricing-table">
                            <div class="list-group-item pricing-price">
                                199 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>Plus plan</h3>
                            </div>
                            <div class="list-group-item">
                                General contracting
                            </div>
                            <div class="list-group-item">
                                Pre-Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 anima">
                        <div class="list-group pricing-table pricing-table-big">
                            <div class="list-group-item pricing-price">
                                499 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>Premium plan</h3>
                            </div>
                            <div class="list-group-item">
                                General contracting
                            </div>
                            <div class="list-group-item">
                                Pre-Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 anima">
                        <div class="list-group pricing-table">
                            <div class="list-group-item pricing-price">
                                1999 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>Exclusive plan</h3>
                            </div>
                            <div class="list-group-item">
                                Premium contracting
                            </div>
                            <div class="list-group-item">
                                All Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="google-map" data-marker-pos-top="30" data-skin="black" data-marker="http://templates.framework-y.com/structura/images/marker-map.png" data-coords="40.7127753,-74.0059728">
        </div>
        <div id="contacts" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-3">
                        <h2>Contact us</h2>
                        <hr class="space xs" />
                        <h4>Structura</h4>
                        <p class="text-left">
                            Ligula aeneana voluptatem a lorem laoreet quod dolores, ac natoque modi inventore
                        </p>
                        <hr class="space s">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s circle"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title-label">Address</h4>
                        <p>
                            05, Martin Street<br>
                            Orange C, California<br>
                            United States of America
                        </p>
                        <hr class="space xs">
                        <h4 class="title-label">Contacts</h4>
                        <p>
                            <b>P</b> 900 123 0000<br>
                            <b>F</b> 900 123 0001<br>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <hr class="space xs">
                        <hr class="space xs visible-xs">
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="name" name="name" placeholder="name" type="text" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-6">
                                    <input id="email" name="email" placeholder="email" type="email" class="form-control form-value" required="">
                                </div>
                            </div>
                            <hr class="space xs">
                            <input id="subject" name="subject" placeholder="subject" type="text" class="form-control form-value">
                            <hr class="space xs">
                            <textarea id="messagge" name="messagge" placeholder="messagge" class="form-control form-value" required=""></textarea>
                            <hr class="space s">
                            <button class="btn-xs btn" type="submit">Send messagge</button>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
