<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Triangle | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../skin.css">
    <link rel="icon" href="../images/favicon.png">
</head>
<body class="transparent-header" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <div id="home" class="section-bg-image parallax-window" data-natural-height="735" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x735">
            <div class="container content">
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-6" data-anima="fade-bottom" data-timeline="asc">
                        <img class="anima" src="../images/logo-retina.png" alt="" />
                        <hr class="space m" />
                         <hr class="space s" />
                        <p class="anima">
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquio.
                        </p>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <hr class="space m" />
            </div>
        </div>
        <div class="section-empty z-index">
            <div class="container content">
                <div class="fixed-area" data-topscroll="40">
                    <div class="navbar navbar-inner">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul id="menu" class="nav navbar-nav inner ms-rounded nav-center">
                                <li class="current-active active"><a href="#home">Home</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#news">News</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#contacts">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="services" class="section-empty">
            <div class="container content">
                <div class="grid-list" data-anima="fade-bottom">
                    <div class="grid-box row">
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-code-window icon circle anima"></i>
                                <h3>App development</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus est odit mi quoso.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-cloud-laptop icon circle anima"></i>
                                <h3>Server security</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus esquidp sempere.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-air-balloon icon circle anima"></i>
                                <h3>Web design</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus est odit mi quoso.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-pencil icon circle anima"></i>
                                <h3>Print graphics</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus est odit mi quoso.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-business-man icon circle anima"></i>
                                <h3>Social consulting</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus esquidp sempere.
                                </p>
                            </div>
                        </div>
                        <div class="grid-item col-md-4">
                            <div class="advs-box advs-box-top-icon text-left" data-anima="scale-up" data-trigger="hover">
                                <i class="im-coins icon circle anima"></i>
                                <h3>Financial advisor</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                    temporibus est odit mi quoso.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="news" class="section-empty">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Recent News .</h2>
                    <p>
                        Ai ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariature.
                    </p>
                </div>
                <div class="flexslider carousel outer-navs" data-options="minWidth:250,itemMargin:30,numItems:3,controlNav:true,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x600" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">05 <span>OCT, 15</span></div>
                                <div class="advs-box-content">
                                    <h3>Lighting the magic nights</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fugaus expedita fusce temporibo.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x600" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">08 <span>OCT, 15</span></div>
                                <div class="advs-box-content">
                                    <h3>Minimal inspirations</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fuus expedita fusco mi quoso.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x600" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">10 <span>OCT, 15</span></div>
                                <div class="advs-box-content">
                                    <h3>Travel & success spirit</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat furus expedita martillo perdono.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-multiple boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x600" alt="" /></a>
                                <div class="circle anima-rotate-20 anima">02 <span>OCT, 15</span></div>
                                <div class="advs-box-content">
                                    <h3>An awesome skin under you</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, martillo repellat  odit mi quoso aerto.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="about" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-3">
                        <h2>Meet the people behind our success.</h2>
                        <hr class="space m visible-xs" />
                    </div>
                    <div class="col-md-3">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <hr class="space m visible-xs" />
                    </div>
                    <div class="col-md-3">
                        <p>
                            Apsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrudo ar per loto exercitation ullamco laboris nisi ut aliquip ex ea commodo consequate.
                            in voluptate velit esse cillum dolore eu fugiat nulla pariature, molesto.
                        </p>
                        <hr class="space m visible-xs" />
                    </div>
                    <div class="col-md-3">
                        <p class="block-quote quote-1">
                            It is better to lead from behind and to put others in front,
                            especially when you celebrate victory when nice things occur.

                            <span class="quote-author">Elon Martini</span>
                        </p>
                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="flexslider carousel png-over outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <img src="../images/logos/logo_1.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_2.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_3.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_4.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_5.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_1.png" alt="logo" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="gallery" class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-3">
                        <h2>Beatuful shots thanks to super friends.</h2>
                        <hr class="space m" />
                        <a href="#" class="btn-text">All galleries</a>
                    </div>
                    <div class="col-md-9">
                        <div class="grid-list gallery">
                            <div class="grid-box  row" data-lightbox-anima="fade-in">
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="../images/gallery/image-1.jpg">
                                        <i class="im-old-camera"></i>
                                        <img src="../images/gallery/image-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="http://via.placeholder.com/800x600">
                                        <i class="im-old-camera"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="http://via.placeholder.com/800x600">
                                        <i class="im-old-camera"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="http://via.placeholder.com/800x600">
                                        <i class="im-old-camera"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="http://via.placeholder.com/800x600">
                                        <i class="im-old-camera"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" href="http://via.placeholder.com/800x600">
                                        <i class="im-old-camera"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Start to know our service</h2>
                    <p>
                        Ai ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariature.
                    </p>
                </div>
                <hr class="space s" />
                <div class="row box-steps" data-anima="fade-bottom" data-timeline="asc">
                    <div class="step-item col-md-4 anima">
                        <span class="step-number">01</span>
                        <h3>Join our community</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                        </p>
                    </div>
                    <div class="step-item col-md-4 anima">
                        <span class="step-number">02</span>
                        <h3>Request a call</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                        </p>
                    </div>
                    <div class="step-item col-md-4 anima">
                        <span class="step-number">03</span>
                        <h3>Wait we call you</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty background-dots">
            <div class="container content" data-anima="fade-bottom">
                <div class="google-map row-13 shadow" data-marker-pos-top="50" data-coords="40.741895,-73.989308" data-skin="gray" data-marker="http://templates.framework-y.com/structura/images/marker-map-4.png"></div>
            </div>
        </div>
        <div id="contacts" class="section-empty">
            <div class="container content">
                <div class="title-base text-left-xs">
                    <hr />
                    <h2>Contact us .</h2>
                    <p>
                        Ai ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariature.
                    </p>
                </div>
                <div class="row proporzional-row" data-anima="fade-bottom">
                    <div class="col-md-4 col-sm-12">
                        <h2>Write us hello constantly for 24h to win a stone.</h2>
                        <hr class="space m" />
                        <ul class="fa-ul">
                            <li>
                                <i class="fa-li im-home"></i>
                                Sturlly, PO 16122, Collins Street West
                            </li>
                            <li><i class="fa-li im-phone"></i> (123) 0 123 455669</li>
                            <li><i class="fa-li im-envelope"></i> example@company.com</li>
                            <li><i class="fa-li im-envelope"></i> example@company.com</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-12 text-left">
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Your name</p>
                                    <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required>
                                </div>
                                <div class="col-md-4">
                                    <p>Email</p>
                                    <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required>
                                </div>
                                <div class="col-md-4">
                                    <p>Phone number</p>
                                    <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                </div>
                            </div>
                            <hr class="space xs" />
                            <p>Your message</p>
                            <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value" required></textarea>
                            <hr class="space s" />
                            <a class="circle-button btn-xs btn">Send messagge</a>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>

                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
