<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fullpage | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/jquery.fullPage.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body>
    <div id="preloader"></div>
    <nav id="fullpage-menu" class="fullpage-menu menu-dots">
        <ul>
            <li><a data-toggle="tooltip" data-placement="left" title="Home"></a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Contacts"></a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Map"></a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Services"></a></li>
            <li><a data-toggle="tooltip" data-placement="left" title="Mobile"></a></li>
        </ul>
    </nav>
    <header></header>
    <div id="fullpage-main">
        <div class="section overlay-container">
            <div class="background-page overlay-container" style="background-image:url('http://via.placeholder.com/1920x1000');"> </div>
            <div class="container content box-middle">
                <div class="row vertical-row">
                    <div class="col-md-6 col-sm-12 text-center-sm" data-fullpage-anima="fade-in" data-time="2000">
                        <h1 class="text-black text-xl">For a better future for the humans of the next century</h1>
                        <hr class="space s" />
                        <h1 class="text-m">Mind medition courses</h1>
                        <hr class="space l" />
                        <a href="#" class="btn-sm btn btn-border">Open the document</a>
                    </div>
                    <div class="col-md-6 col-sm-12 text-center-sm">
                        <p data-fullpage-anima="fade-in" data-time="2000">
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillumo.
                        </p>
                        <hr class="space m" />
                        <div class="row" data-fullpage-anima="fade-bottom" data-timeline="asc">
                            <div class="col-md-4 boxed-inverse bg-white anima">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="im-start text-l"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Start</label>
                                        <p class="text-s">Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 boxed-inverse bg-white anima">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="im-sun text-l"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">Enjoy</label>
                                        <p class="text-s">Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 boxed-inverse bg-white anima">
                                <div class="icon-box icon-box-top-bottom">
                                    <div class="icon-box-cell">
                                        <i class="im-flag-6 text-l"></i>
                                    </div>
                                    <div class="icon-box-cell">
                                        <label class="text-m">End</label>
                                        <p class="text-s">Lorem ipsum</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container  background-lines">
            <div class="background-page overlay-container" style="background-image:url('../images/bg-transparent.png');"> </div>
            <div class="container content box-middle">
                <div class="row proporzional-row" data-fullpage-anima="fade-bottom">
                    <div class="col-md-5 boxed-inverse bg-white">
                        <h2>Contact us now</h2>
                        <p>Lorem ipsum dolor sit amet conselaboris nisi ut aliquip ex ea commod adipiscing elitsed do.</p>
                        <hr class="space m" />
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post" data-email="federico@pixor.it">
                            <div class="row">
                                <div class="col-md-6">
                                    <input id="name" name="name" placeholder="name" type="text" class="form-control form-value" required>
                                </div>
                                <div class="col-md-6">
                                    <input id="email" name="email" placeholder="email" type="email" class="form-control form-value" required>
                                </div>
                            </div>
                            <hr class="space xs" />
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea id="messagge" name="messagge" placeholder="Write your message" class="form-control form-value" required></textarea>
                                    <hr class="space s" />
                                    <button class="btn-sm btn" type="submit">Send messagge</button>
                                </div>
                            </div>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7 col-sm-12 boxed-inverse no-paddings">
                        <div class="google-map" data-skin="gray" data-marker-pos-top="30" data-marker="http://templates.framework-y.com/structura/images/marker-map-4.png" data-coords="40.7127753,-73.989308"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container">
            <div class="background-page overlay-container" style="background-image:url('../images/bg-transparent.png');"> </div>
            <div class="container content box-middle">
                <div class="row" data-fullpage-anima="fade-bottom">
                    <div class="col-md-6 col-sm-12">
                        <div class="title-base text-left no-margins">
                            <hr />
                            <h2>Team</h2>
                            <p>
                                Lamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dol.
                            </p>
                        </div>
                        <hr class="space m hidden-xs" />
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <table class="grid-table border-table grid-table-xs-12">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="icon-box counter-box-icon">
                                            <div class="icon-box-cell">
                                              
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="counter text-xl" data-speed="2000" data-to="100">100</label>
                                                <p class="text-s">Members</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-box counter-box-icon">
                                            <div class="icon-box-cell">
                                               
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="counter text-xl" data-speed="2000" data-to="350">350</label>
                                                <p class="text-s">Collaborators</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="icon-box counter-box-icon ">
                                            <div class="icon-box-cell">
                                                 
                                            </div>
                                            <div class="icon-box-cell">
                                                <label class="counter text-xl" data-speed="2000" data-to="100">120</label>
                                                <p class="text-s">Offices</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <hr class="space m visible-sm" />
                    </div>
                </div>
                <div class="flexslider carousel vertical-nav visible-dir-nav" data-options="minWidth:200,itemMargin:60,numItems:4,controlNav:true,directionNav:true" data-fullpage-anima="fade-bottom">
                    <ul class="slides">
                        <li>
                            <a class="img-box lightbox shadow" href="http://via.placeholder.com/800x600" data-lightbox-anima="fade-in">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox shadow" href="http://via.placeholder.com/800x600" data-lightbox-anima="fade-in">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>  
                        </li>
                        <li>
                            <a class="img-box lightbox shadow" href="http://via.placeholder.com/800x600" data-lightbox-anima="fade-in">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox shadow" href="http://via.placeholder.com/800x600" data-lightbox-anima="fade-in">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </li>
                        <li>
                            <a class="img-box lightbox shadow" href="http://via.placeholder.com/800x600" data-lightbox-anima="fade-in">
                                <img src="http://via.placeholder.com/800x600" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section overlay-container background-lines">
            <div class="background-page overlay-container" style="background-image:url('../images/bg-transparent.png');"> </div>
            <div class="container content box-middle">
                <div class="row" data-fullpage-anima="fade-bottom">
                    <div class="col-md-8 col-sm-12">
                        <hr class="space xs" />
                        <div class="tab-box" data-tab-anima="fade-bottom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">People</a></li>
                                <li><a href="#">Society</a></li>
                                <li><a href="#">Mind</a></li>
                            </ul>
                            <div class="panel active">
                                <div class="grid-list gallery">
                                    <div class="grid-box row">
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-bar-chart2 icon circle"></i>
                                                <h3>Marketing</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-library icon circle"></i>
                                                <h3>Culture</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-leafs-2 icon circle"></i>
                                                <h3>People</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-monitor-laptop icon circle"></i>
                                                <h3>Business</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pagination-sm pagination-grid" data-page-items="2" data-pagination-anima="fade-bottom"></ul>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="grid-list gallery">
                                    <div class="grid-box row">
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-bar-chart2 icon circle"></i>
                                                <h3>Marketing</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-library icon circle"></i>
                                                <h3>Culture</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-leafs-2 icon circle"></i>
                                                <h3>People</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-monitor-laptop icon circle"></i>
                                                <h3>Business</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pagination-sm pagination-grid" data-page-items="2" data-pagination-anima="fade-bottom"></ul>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="grid-list gallery">
                                    <div class="grid-box row">
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-bar-chart2 icon circle"></i>
                                                <h3>Marketing</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-library icon circle"></i>
                                                <h3>Culture</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-leafs-2 icon circle"></i>
                                                <h3>People</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="grid-item col-md-6">
                                            <div class="advs-box advs-box-top-icon boxed-inverse">
                                                <i class="im-monitor-laptop icon circle"></i>
                                                <h3>Business</h3>
                                                <p>
                                                    Interdum iusto pulvinar consequuntur augue optio repellat fugarus expedita fusce
                                                    temporibus est odit mioyo.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pagination-sm pagination-grid" data-page-items="2" data-pagination-anima="fade-bottom"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="title-base text-left">
                            <hr />
                            <h2>Services</h2>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididuntuoro.</p>
                        </div>
                        <h3 class="text-s">Software</h3>
                        <div class="progress">
                            <div class="progress-bar" data-progress="90">
                                <span><span class="counter" data-to="90">90</span> %</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <h3 class="text-s">Security</h3>
                        <div class="progress">
                            <div class="progress-bar" data-progress="75">
                                <span><span class="counter" data-to="75">75</span> %</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <h3 class="text-s">Mobile</h3>
                        <div class="progress">
                            <div class="progress-bar" data-progress="50">
                                <span><span class="counter" data-to="50">50</span> %</span>
                            </div>
                        </div>
                        <hr class="space m" />
                        <a href="#" class="btn-sm btn">View all services</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section overlay-container background-dots">
            <div class="background-page overlay-container" style="background-image:url('../images/bg-transparent.png');"> </div>
            <div class="container content box-middle">
                <div class="row" data-fullpage-anima="fade-bottom">
                    <div class="col-md-2">
                        <a class="img-box lightbox shadow row-11" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <hr class="space l" />
                        <a class="img-box lightbox shadow row-15" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <hr class="space s" />
                        <a class="img-box lightbox shadow row-13" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                    </div>
                    <div class="col-md-6">
                        <h2>Download the app to get a powerful application into your pocket</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <hr class="space l" />
                        <a href="#" class="btn btn-sm btn-border"><i class="im-android"></i> Download Android</a><span class="space"></span>
                        <a href="#" class="btn btn-sm btn-border"><i class="im-apple-bite"></i> Download iOS</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section footer-base fp-auto-height">
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tag-row icon-row icon-row-square">
                                <span><a>About</a></span>
                                <span><a>Services</a></span>
                                <span><a>Support</a></span>
                                <span><a>Contacts</a></span>
                            </div>
                        </div>
                        <div class="col-md-6 text-right text-center-sm">
                            <div class="btn-group social-group btn-group-icons">
                                <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                    <i class="fa fa-facebook text-s"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                    <i class="fa fa-twitter text-s"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                    <i class="fa fa-google-plus text-s"></i>
                                </a>
                                <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                    <i class="fa fa-linkedin text-s"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row copy-row">
                        <div class="col-md-12 copy-text">
                            © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <script src="../HTWF/scripts/jquery.min.js"></script>
            <script src="../HTWF/scripts/script.js"></script>
            <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
            <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
            <script src="../HTWF/scripts/imagesloaded.min.js"></script>
            <script src="../HTWF/scripts/parallax.min.js"></script>
            <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
            <script src="../HTWF/scripts/isotope.min.js"></script>
            <script src="../HTWF/scripts/php/contact-form.js"></script>
            <script src="../HTWF/scripts/jquery.twbsPagination.min.js"></script>
            <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
            <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
            <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
            <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
            <script src="../HTWF/scripts/jquery.fullPage.min.js"></script>
            <script src="../HTWF/scripts/social.stream.min.js"></script>
            <script src="../HTWF/scripts/google.maps.min.js"></script>
            <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
        </footer>
    </div>
</body>
</html>
