<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Circle | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="stylesheet" href="../skin.css">
    <link rel="icon" href="../images/favicon.png">
</head>
<body data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <header class="fixed-top scroll-change" data-menu-anima="fade-bottom">
        <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
            <div class="navbar navbar-main">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img class="logo-default" src="../images/logo.png" alt="logo" />
                            <img class="logo-retina" src="../images/logo-retina.png" alt="logo" />
                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div class="nav navbar-nav navbar-right">
                            <ul id="menu" class="nav navbar-nav one-page-menu">
                                <li class="active">
                                    <a href="#home">Home</a>
                                </li>
                                <li>
                                    <a href="#portfolio">Portfolio</a>
                                </li>
                                <li>
                                    <a href="#about">About</a>
                                </li>
                                <li>
                                    <a href="#events">Events</a>
                                </li>
                                <li>
                                    <a href="#team">Team</a>
                                </li>
                                <li>
                                    <a href="#contacts">Contacts</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="home"  class="section-bg-image parallax-window background-lines-3 ken-burn-center" data-position="top" data-natural-height="1000" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x1000">
        <div class="container content text-center">
            <hr class="space m" />
            <div class="row">
                <div class="col-md-8 col-center" data-anima="fade-bottom" data-timeline="asc">
                    <h1 class="text-xxl text-black font-1 anima">Structura</h1>
                    <hr class="space m" />
                    <p class="anima">
                        Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore ettoldolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco labori metrillo aritno excalator lorem ipsume per limpero roma.
                    </p>
                    <hr class="space m" />
                    <a href="#" class="btn btn-sm anima">Become elite</a>
                </div>
            </div>
            <hr class="space m" />
        </div>
    </div>    
    <div id="portfolio" class="section-empty">
        <div class="container content">
            <div class="title-base">
                <hr />
                <h2>Portoflio .</h2>
                <p>Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariature alterto berto malio enrico per la pasta di nona.</p>
            </div>
            <div class="tab-box" data-tab-anima="fade-bottom">
                <ul class="nav nav-tabs nav-center">
                    <li class="active"><a href="#"><i class="im-chrysler-building"></i> Urban</a></li>
                    <li><a href="#"><i class="im-air-balloon"></i> Arts</a></li>
                    <li><a href="#"><i class="im-tree-4"></i> Nature</a></li>
                    <li><a href="#"><i class="im-palette"></i> Paints</a></li>
                </ul>
                <div class="panel active">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Night from taxy</a></h2>
                                        <p>Tempor incididunto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">People of the dark</a></h2>
                                        <p>Tempor incididunte</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Coolest hidden clubs</a></h2>
                                        <p>Tempor incididunt sede</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Citizens and people</a></h2>
                                        <p>Tempor incididunt artono</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Walking city tour</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Secret live concert</a></h2>
                                        <p>Tempor incidido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Coolest hidden clubs</a></h2>
                                        <p>Tempor incididunt sede</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Citizens and people</a></h2>
                                        <p>Tempor incididunt artono</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Exploration by the eye</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">London business arts</a></h2>
                                        <p>Tempor incididunto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Walking city tour</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Secret live concert</a></h2>
                                        <p>Tempor incidido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Coolest hidden clubs</a></h2>
                                        <p>Tempor incididunt sede</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Citizens and people</a></h2>
                                        <p>Tempor incididunt artono</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Exploration by the eye</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">London business arts</a></h2>
                                        <p>Tempor incididunto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Walking city tour</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Secret live concert</a></h2>
                                        <p>Tempor incidido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel">
                    <div class="grid-list">
                        <div class="grid-box row">
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Coolest hidden clubs</a></h2>
                                        <p>Tempor incididunt sede</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Citizens and people</a></h2>
                                        <p>Tempor incididunt artono</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Exploration by the eye</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">London business arts</a></h2>
                                        <p>Tempor incididunto</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Walking city tour</a></h2>
                                        <p>Tempor incididunt sedo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item col-md-4">
                                <div class="img-box adv-img adv-img-down-text">
                                    <a class="img-box img-scale-up lightbox i-center" href="http://via.placeholder.com/800x600">
                                        <div class="caption">
                                            <i class="fa fa-plus"></i>
                                        </div>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                    <div class="caption-bottom">
                                        <h2><a href="#">Secret live concert</a></h2>
                                        <p>Tempor incidido</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <table class="grid-table border-table grid-table-xs-12">
                <tbody>
                    <tr>
                        <td>
                            <div class="counter-box-simple counter-box-vertical">
                                <span class="counter text-xl" data-to="528"></span>
                                <span class="text-m">Artists and musicians</span>
                            </div>
                        </td>
                        <td>
                            <div class="counter-box-simple counter-box-vertical">
                                <span class="counter text-xl" data-to="2000"></span>
                                <span class="text-m">Completed projects</span>
                            </div>
                        </td>
                        <td>
                            <div class="counter-box-simple counter-box-vertical">
                                <span class="counter text-xl" data-to="350"></span>
                                <span class="text-m">Cities</span>
                            </div>
                        </td>
                        <td>
                            <div class="counter-box-simple counter-box-vertical">
                                <span class="counter text-xl" data-to="8200"></span>
                                <span class="text-m">Community members</span>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <div class="row">
                <div class="col-md-8 col-center" data-anima="fade-bottom">
                    <div class="title-base">
                        <hr />
                        <h2>Subscribe now</h2>
                        <p>Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla pariature alterto berto malio enrico per la pasta di nona.</p>
                    </div>
                    <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80 text-center-sm" method="post" data-email="aaa@pixor.it">
                        <input id="email" name="email" placeholder="Your email address" type="email" class="form-control form-value" required="">
                        <hr class="space m">
                        <button class="btn btn-sm" type="submit">Join</button>
                        <div class="success-box">
                            <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                        </div>
                        <div class="error-box">
                            <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="about" class="section-empty">
        <div class="container content">
            <table class="grid-table border-table grid-table-xs-12" data-anima="fade-bottom">
                <tbody>
                    <tr>
                        <td>
                            <p class="text-left">
                                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua. Utenim ad minimo.
                            </p>
                        </td>
                        <td>
                            <p class="block-quote quote-1">
                                Then people will appreciate your leadership.
                                <span class="quote-author">Don Jhon</span>
                            </p>
                        </td>
                        <td>
                            <img src="http://via.placeholder.com/800x600" alt="Alternate Text" />
                        </td>
                        <td>
                            <p class="text-left text-bold text-s">
                                Arese ipsume  sit amet consectetur adipiscing
                                elitsed do eiusmod tempore geelitsed do eiusmod tempor incididunt utlabore adipiscing elitsed do eiusmod tempor incididunto. Utenim ad minimo.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-leafs text-xl"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Nature and sun</label>
                                    <p class="text-s">Green leaf into the nature of the </p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-left text-bold">
                                Arese ipsume  sit amet consectetur adipiscing
                                elitsed do eiusmod tempore geelitsed do eiusmod tempor incididunt utlabore ad ro cotto.
                            </p>
                        </td>
                        <td>
                            <p class="text-left text-b old text-s">
                                Ipsume  sit amet kasd gubergren,  no sea takimata sanctus
                                elitsed do eiusmod tempore geelitsed do eiusmod tempor incididunt utlabore adipiscing elitsed do eiusmod tempor incididunto. Utenim ad minimo.
                            </p>
                        </td>
                        <td>
                            <ul class="fa-ul text-m text-left">
                                <li><i class="fa-li im-calendar"></i> Lifetime support</li>
                                <li><i class="fa-li im-idea"></i> Dedicated membership</li>
                                <li><i class="fa-li im-identification-badge"></i> Exlusive access</li>
                                <li><i class="fa-li im-geo3-star"></i> Promotions and more</li>
                            </ul>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="section-empty background-dots">
        <div class="container content">
            <div class="flexslider carousel outer-navs visible-dir-nav" data-options="minWidth:145,itemMargin:30,numItems:4,controlNav:false,directionNav:true">
                <ul class="slides">
                    <li>
                        <a class="img-box lightbox shadow inner" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <span>
                                <img src="http://via.placeholder.com/800x1300" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet conse adipi eunto.
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox shadow  inner" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <span>
                                <img src="http://via.placeholder.com/800x1300" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectet uto.
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox shadow  inner" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <span>
                                <img src="http://via.placeholder.com/800x1300" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipiscing.
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox shadow  inner" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <span>
                                <img src="http://via.placeholder.com/800x1300" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipisco.
                                </span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="img-box lightbox shadow  inner" href="http://via.placeholder.com/800x1300" data-lightbox-anima="fade-in">
                            <span>
                                <img src="http://via.placeholder.com/800x1300" alt="" />
                            </span>
                            <span class="caption-box">
                                <span class="caption">
                                    Lorem ipsum dolor sit amet consectetur adipisco.
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-empty">
        <div class="container content">
            <h2 class="text-center">Frequently Asked Questions .</h2>
            <hr class="space l" />
            <div class="row" data-anima="fade-bottom" data-timeline="asc">
                <div class="col-md-4 anima">
                    <div class="list-group accordion-list">
                        <div class="list-group-item">
                            <a href="#"> Can I ask for a full refund?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> What are the avarage shipping times?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> How many payment options do I have?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Can I replace an item I bought?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 anima">
                    <div class="list-group accordion-list">
                        <div class="list-group-item">
                            <a href="#"> Where can I see the service?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> How do you manage the users datas?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> Can I customize my product online?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <a href="#"> What are your support options?</a>
                            <div class="panel">
                                <div class="inner">
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboriso.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 anima">
                    <p>
                        Lorem ipsum dolor sit amet  tsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Utenim ad minim veniam quis nostrud exercitation ullamco.
                    </p>
                    <hr class="space s" />
                    <a href="#" class="btn btn-xs">More informations</a>
                </div>
            </div>
        </div>
    </div>
    <div id="events" class="section-empty">
        <div class="container content">
            <div class="row" data-anima="fade-bottom">
                <div class="col-md-3 col-sm-12 text-center-sm">
                    <h2>What's on and latest news .</h2>
                    <hr class="space s" />
                    <a href="#" class="btn-text">All events</a>
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="flexslider slider outer-navs" data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:true,directionNav:true">
                        <ul class="slides">
                            <li>
                                <div class="advs-box advs-box-side">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Victoria workshop</h3>
                                            <span class="extra-content">Now open</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio  repellat fuga aurus expedita fusce matita. Lorem ipsum dolor sit amet consectetur
                                                adipiscing elitsed do eiusmod tempor ar consequuntur augue optio repellat fuga aurus expedita fusce matito no sea takimata sanctus esto.
                                            </p>
                                            <a class="btn-text" href="#">Enter now </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-side">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Citizen and city</h3>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio  repellat fuga aurus expedita fusce matita. Lorem ipsum dolor sit amet consectetur
                                                adipiscing elitsed do eiusmod tempor ar consequuntur augue optio repellat fuga aurus expedita fusce matito no sea takimata sanctus esto.
                                            </p>
                                            <a class="btn-text" href="#">Enter now </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="advs-box advs-box-side">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3>Victoria workshop</h3>
                                            <span class="extra-content">Now open</span>
                                            <p>
                                                Interdum iusto pulvinar consequuntur augue optio  repellat fuga aurus expedita fusce matita. Lorem ipsum dolor sit amet consectetur
                                                adipiscing elitsed do eiusmod tempor ar consequuntur augue optio repellat fuga aurus expedita fusce matito no sea takimata sanctus esto.
                                            </p>
                                            <a class="btn-text" href="#">Enter now </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="team" class="section-empty background-lines ">
        <div class="container content">
            <div class="row" data-anima="fade-bottom">
                <div class="col-md-3 col-sm-4">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Jessica Lebowski</h2>
                            <h4>Founder</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and marto lorem haie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Elisa Lavigne</h2>
                            <h4>Marketing</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and marto lorem haie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                        <a class="img-box">
                            <img class="anima" src="http://via.placeholder.com/450x450" alt="" />
                        </a>
                        <div class="content-box">
                            <h2>Sarah Parker</h2>
                            <h4>Team manager</h4>
                            <hr class="e" />
                            <div class="btn-group social-group">
                                <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                            <p>Lorem ipsum is simply dummy text of the printing and marto lorem haie.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 text-center-sm">
                    <hr class="space m visible-sm" />
                    <h2>Our amazing team members .</h2>
                    <hr class="space s" />
                    <a href="#" class="btn-text">All members</a>
                </div>
            </div>
        </div>
    </div>
    <div id="contacts" class="section-bg-image parallax-window" data-natural-height="1000" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x1000">
        <div class="container content">
            <div class="row proporzional-row" data-anima="fade-bottom">
                <div class="col-md-3 col-sm-4">
                    <h2>Contact</h2>
                    <hr class="space s" />
                    <p>
                        +1 (229) 346-9923<br />
                        +1 (619) 303-2419<br />
                        hello@example.com
                    </p>
                    <hr class="space m" />
                    <h2>Address</h2>
                    <hr class="space s" />
                    <p>
                        2514 Glebe Rd, Lemon Grove<br />
                        CA, 91945
                    </p>
                
                </div>
                <div class="col-md-3 col-sm-4">
                    <h2>Timestable</h2>
                    <hr class="space s" />
                    <p>
                        Monday - Friday 8am to 12am<br />
                        Monday - Friday 2pm to 6pm<br />
                        Saturday 8am to 1pm<br />
                    </p>
                    <hr class="space m" />
                    <a href="#" class="btn btn-xs">Write us</a>
                </div>
                <div class="col-md-6 col-sm-4">
                    <hr class="space m visible-xs" />
                    <div class="google-map shadow" data-marker-pos-top="50" data-coords="40.741895,-73.989308" data-skin="gray" data-marker="http://templates.framework-y.com/structura/images/marker-map-4.png"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-empty ">
        <div class="container content">
            <div class="flexslider carousel png-over outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:true">
                <ul class="slides">
                    <li>
                        <img src="../images/logos/logo_1b.png" alt="logo" />
                    </li>
                    <li>
                        <img src="../images/logos/logo_2b.png" alt="logo" />
                    </li>
                    <li>
                        <img src="../images/logos/logo_3b.png" alt="logo" />
                    </li>
                    <li>
                        <img src="../images/logos/logo_4b.png" alt="logo" />
                    </li>
                    <li>
                        <img src="../images/logos/logo_5b.png" alt="logo" />
                    </li>
                    <li>
                        <img src="../images/logos/logo_1b.png" alt="logo" />
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-base">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">

                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>

                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>

                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
