<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Line | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body class="side-menu-container" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <header class="side-menu-header" data-menu-anima="default">
            <div class="navbar-header">
                <a class="hamburger-button" data-menu-anima="fade-left">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand" href="index.html"><img src="../images/logo.png" alt="logo"></a>
            </div>
            <div class="side-menu-fixed">
                <div class="top-area">
                    <a class="brand" href="index.html">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                </div>
                <aside class="sidebar mi-menu box-middle-container">
                    <nav class="sidebar-nav box-middle">
                        <ul id="menu" class="side-menu ms-simple">
                            <li class="active"><a href="#home"> Home</a></li>
                            <li><a href="#about"> About</a></li>
                            <li><a href="#gallery"> Gallery</a></li>
                            <li><a href="#history"> History</a></li>
                            <li><a href="#services"> Services</a></li>
                            <li><a href="#contacts"> Contacts</a></li>
                        </ul>
                    </nav>
                </aside>
                <div class="bottom-area">
                    <div class="social-group">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <p>© 2018. All rights reserved. </p>
                </div>
            </div>
        </header>
        <div id="home" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom" data-timeline="asc">
                    <div class="col-md-4 anima">
                        <div class="img-box adv-img adv-img-classic-box white row-20">
                            <div class="img-box">
                                <img src="http://via.placeholder.com/800x1300" alt="">
                            </div>
                            <a href="#about" class="scroll-to caption img-box">
                                <div class="caption-inner">
                                    <h2>Creativivity</h2>
                                    <p class="sub-text">Smart and young minds</p>
                                    <p class="big-text">
                                        Smart and young envirnoments glow our minds distinctio varius integer accusantium nostra.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 anima">
                        <div class="img-box adv-img adv-img-classic-box white row-20">
                            <div class="img-box">
                                <img src="http://via.placeholder.com/800x1300" alt="">
                            </div>
                            <a href="#about" class="scroll-to caption img-box">
                                <div class="caption-inner">
                                    <h2>Hard work</h2>
                                    <p class="sub-text"> If it's easy is not the best</p>
                                    <p class="big-text">
                                        We belive that if it's easy it's not the best varius integer accusantium veritatis nostra nam.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 anima">
                        <div class="img-box adv-img adv-img-classic-box white row-20">
                            <div class="img-box">
                                <img src="http://via.placeholder.com/800x1300" alt="">
                            </div>
                            <a href="#about" class="scroll-to caption img-box">
                                <div class="caption-inner">
                                    <h2>Passions</h2>
                                    <p class="sub-text"> Only for true lovers</p>
                                    <p class="big-text">
                                        Inside our club we have only who really love it distinctio varius integer accusantium veritatis nostra.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="section-empty background-lines">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>Deeper look into our company</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitatio.
                            Lorem ipsum dolor sit amet,sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erato.
                            At vero eos et accusam et justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolore sit ameto, no sea takimata sanctus esto.
                        </p>

                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitatio.
                            justo duo dolores et ea rebum.  Lorem ipsum dolor sit amet,  no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            Stet clita kasd gubergren,  no sea takimata sanctus est Lorem ipsum dolore sit ameto, no sea takimata sanctus esto.
                        </p>
                        <a href="#" class="btn btn-sm">Contact us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty background-lines">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>Trust a company that never got wrong</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                    </div>
                    <div class="col-md-8">
                        <div class="flexslider carousel margin-9 " data-options="minWidth:200,itemMargin:42,numItems:2,controlNav:false,directionNav:true">
                            <ul class="slides">
                                <li>
                                    <div class="advs-box advs-box-top-icon boxed-inverse">
                                        <i class="im-brain-2 icon circle"></i>
                                        <h3>Abstract arts</h3>
                                        <p>
                                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce. Merlusco pierre baeto.
                                        </p>
                                        <a href="#" class="btn-text">Informations</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-top-icon boxed-inverse">
                                        <i class="im-aquarius icon circle"></i>
                                        <h3>Minds and creation</h3>
                                        <p>
                                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce. Merlusco pierre baeto.
                                        </p>
                                        <a href="#" class="btn-text">Informations</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-top-icon boxed-inverse">
                                        <i class="im-chemical icon circle"></i>
                                        <h3>Color the business</h3>
                                        <p>
                                            Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce. Merlusco pierre baeto.
                                        </p>
                                        <a href="#" class="btn-text">Informations</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery" class="section-empty background-lines-2">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Gallery</h2>
                    <p>Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla arto malio enrico per la pasta di nona.</p>
                </div>
                <div class="tab-box" data-tab-anima="fade-bottom">
                    <ul class="nav nav-tabs nav-center">
                        <li class="active"><a href="#"><i class="im-chrysler-building"></i> Urban</a></li>
                        <li><a href="#"><i class="im-air-balloon"></i> Arts</a></li>
                        <li><a href="#"><i class="im-tree-4"></i> Nature</a></li>
                        <li><a href="#"><i class="im-palette"></i> Paints</a></li>
                    </ul>
                    <div class="panel active">
                        <div class="grid-list gallery">
                            <div class="grid-box  row" data-lightbox-anima="fade-left">
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="../images/gallery/image-1.jpg">
                                        <i class="im-add anima"></i>
                                        <img src="../images/gallery/image-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="grid-list gallery">
                            <div class="grid-box  row" data-lightbox-anima="fade-left">
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="../images/gallery/image-1.jpg">
                                        <i class="im-add anima"></i>
                                        <img src="../images/gallery/image-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="grid-list gallery">
                            <div class="grid-box  row" data-lightbox-anima="fade-left">
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="../images/gallery/image-1.jpg">
                                        <i class="im-add anima"></i>
                                        <img src="../images/gallery/image-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="grid-list gallery">
                            <div class="grid-box  row" data-lightbox-anima="fade-left">
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="../images/gallery/image-1.jpg">
                                        <i class="im-add anima"></i>
                                        <img src="../images/gallery/image-1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                                <div class="grid-item col-md-4">
                                    <a class="img-box i-center shadow" data-anima="fade-top" data-trigger="hover" data-anima-out="hide" href="http://via.placeholder.com/800x600">
                                        <i class="im-add anima"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="history" class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-8 col-sm-12 text-center-xs">
                        <div class="tab-box" data-tab-anima="fade-right">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#">1920</a></li>
                                <li><a href="#">1932</a></li>
                                <li><a href="#">1965</a></li>
                                <li><a href="#">1970</a></li>
                                <li><a href="#">1998</a></li>
                                <li><a href="#">2008</a></li>
                            </ul>
                            <div class="panel active">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                            <div class="panel">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                            <div class="panel">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                            <div class="panel">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                            <div class="panel">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                            <div class="panel">
                                <p>
                                    Placerat itaque! Magna eiusmod sociosqu! Doloribus enim architecto? Illo feugiat lacinia magnam?
                                    Facilis incididunt sollicitudin. Maecenas cupidatat! Quod, tenetur leo nobis repudiandae.
                                    Blanditiis penatibus eu illo, voluptate? Penatibus, auctor adipiscing unde dolores optio dapibus natus sociis,
                                    mattis luctus laudantium diamlorem, metus magnam, cillum nostra, lectus, facere commodi officia.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 text-center-xs">
                        <h2>Memories of our success</h2>
                        <hr class="space m" />
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
                <hr class="space l" />
                <table class="grid-table border-table grid-table-xs-12">
                    <tbody>
                        <tr>
                            <td>
                                <div class="counter-box-simple counter-box-vertical">
                                    <span class="counter text-xl" data-to="1920" data-separator="">1920</span>
                                    <span class="text-m">Company foundation</span>
                                </div>
                            </td>
                            <td>
                                <div class="counter-box-simple counter-box-vertical">
                                    <span class="counter text-xl" data-to="1975" data-separator="">1975</span>
                                    <span class="text-m">Asia and Europe</span>
                                </div>
                            </td>
                            <td>
                                <div class="counter-box-simple counter-box-vertical">
                                    <span class="counter text-xl" data-to="1993" data-separator="">1993</span>
                                    <span class="text-m">The new headquarter</span>
                                </div>
                            </td>
                            <td>
                                <div class="counter-box-simple counter-box-vertical">
                                    <span class="counter text-xl" data-to="2008" data-separator="">2008</span>
                                    <span class="text-m">International awards</span>
                                </div>
                            </td>
                            <td>
                                <div class="counter-box-simple counter-box-vertical">
                                    <span class="counter text-xl" data-to="2015" data-separator="">2015</span>
                                    <span class="text-m">Expansion continue</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="services" class="section-empty background-lines">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Services</h2>
                    <p>Duis aute irure dolor in reprehe in voluptate velit esse cillum dolore eu fugiat nulla arto malio enrico per la pasta di nona.</p>
                </div>
                <h2>Sperimental design</h2>
                <hr class="space m" />
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">         
                        <p class="progress-label">Abstract</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="60">
                                <span>60%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Minimal</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="85">
                                <span>85%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Retrò</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="30">
                                <span>30%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod teate velit esse cillum dolore eu fugiat nulla arto malio enrico mpor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamconerato laboris.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <a href="#" class="btn btn-sm">Contact us</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4 hidden-xs">
                        <hr class="space l" />
                        <hr class="space s" />
                        <a href="#" class="btn btn-sm">Contact us</a>
                        <hr class="space s" />
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <hr class="space l hidden-xs" />
                        <hr class="space xs" />
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod teate velit esse cillum dolore eu fugiat nulla arto malio enrico mpor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamconerato laboris.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <hr class="space m visible-xs" />
                        <h2 >Socialy analytics</h2>
                        <hr class="space m" />
                        <p class="progress-label">People</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="65">
                                <span>65%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Business</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="90">
                                <span>90%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Government</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="40">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space" />
                <div class="flexslider carousel margin-9" data-options="minWidth:300,itemMargin:45,numItems:3,controlNav:true,directionNav:true" data-anima="fade-bottom">
                    <ul class="slides">
                        <li>
                            <div class="advs-box advs-box-top-icon-img boxed-inverse">
                                <a class="img-box img-scale-up" href="#">
                                    <span><img src="http://via.placeholder.com/800x600" alt=""></span>
                                </a>
                                <div class="advs-box-content">
                                    <h3>Coworking spaces</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusco.
                                    </p>
                                </div>
                            </div> 
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon-img boxed-inverse">
                                <a class="img-box img-scale-up" href="#">
                                    <span><img src="http://via.placeholder.com/800x600" alt=""></span>
                                </a>
                                <div class="advs-box-content">
                                    <h3>Emotions and brands</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusco.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon-img boxed-inverse">
                                <a class="img-box img-scale-up" href="#">
                                    <span><img src="http://via.placeholder.com/800x600" alt=""></span>
                                </a>
                                <div class="advs-box-content">
                                    <h3>Colors and minds</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusco.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-top-icon-img boxed-inverse">
                                <a class="img-box img-scale-up" href="#">
                                    <span><img src="http://via.placeholder.com/800x600" alt=""></span>
                                </a>
                                <div class="advs-box-content">
                                    <h3>Content box title</h3>
                                    <p>
                                        Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusco.
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-empty background-lines-2">
            <div class="container content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="title-base text-left">
                            <hr>
                            <h2>Subscribe now</h2>
                        </div>
                    </div>
                    <div class="col-md-8 ">
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax form-inline width-80" method="post" data-email="aaa@pixor.it">
                            <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required="">
                            <hr class="space m">
                            <button class="btn btn-sm" type="submit">Join</button>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                        <hr class="space s">
                        <p class="text-xs">We don't do spam and we respct the privacy. <b>Check our terms of services</b></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="contacts" class="section-empty background-lines">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4 col-sm-12">
                        <div class="google-map shadow" data-address="London, UK" data-skin="gray" data-zoom="12" data-marker-pos-top="40" data-marker="http://templates.framework-y.com/structura/images/marker-map-4.png"></div>
                        <hr class="space m visible-sm" />
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h2>Contacts</h2>
                        <p>05, Martin Street, San Francisco, United States of America</p>
                        <hr class="space m" />
                        <ul class="list-texts list-texts-justified">
                            <li><b>Email:</b> <span>hello@example.com</span></li>
                            <li><b>Phone:</b> <span>(123) 456-78910</span></li>
                            <li><b>Fax:</b> <span>(123) 456-78915</span></li>
                            <li><b>Skype:</b> <span>example.name</span></li>
                            <li><b>Website:</b> <span>www.example.com</span></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <form action="http://templates.framework-y.com/gourmet/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Name</p>
                                    <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-6">
                                    <p>Email</p>
                                    <input id="email2" name="email" placeholder="" type="email" class="form-control form-value" required="">
                                </div>
                            </div>
                            <hr class="space xs">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Messagge</p>
                                    <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value" required=""></textarea>
                                    <hr class="space s">
                                    <button class="anima-button btn btn-sm" type="submit"><i class="im-right"></i>Send messagge</button>
                                </div>
                            </div>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>   
                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
