<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cube | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <header class="fixed-top scroll-change " data-menu-anima="fade-bottom">
            <div class="navbar navbar-default mega-menu-fullwidth navbar-fixed-top" role="navigation">
                <div class="navbar navbar-main">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <a class="navbar-brand" href="index.html">
                                <img class="logo-default" src="../images/logo.png" alt="logo" />
                                <img class="logo-retina" src="../images/logo-retina.png" alt="logo" />
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <div class="nav navbar-nav navbar-right">
                                <ul id="menu" class="nav navbar-nav one-page-menu">
                                    <li class="active">
                                        <a href="#home">Home</a>
                                    </li>
                                    <li>
                                        <a href="#about">About</a>
                                    </li>
                                    <li>
                                        <a href="#portfolio">Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#prices">Prices</a>
                                    </li>
                                    <li>
                                        <a href="#services">Services</a>
                                    </li> 
                                    <li>
                                        <a href="#contacts">Contacts</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="home" class="section-bg-image parallax-window background-lines-3 ken-burn-center z-index" data-natural-height="900" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x900">
            <div class="container content">
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-7" data-anima="fade-left" data-timeline="asc" data-time="2000">
                        <h1 class="text-xl anima text-black">We're wild people searching for the freedom</h1>
                        <hr class="space m" />
                        <p class="anima">
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                        <hr class="space m" />
                        <a href="#" class="btn-border btn btn-sm anima">Join the community</a>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
                <hr class="space m" />
            </div>
        </div>
        <div class="section-empty background-lines">
            <div class="container content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse">
                            <i class="im-aquarius icon circle"></i>
                            <h3>Minds and creation</h3>
                            <p>
                                Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce baeto asprio.
                            </p>
                            <a href="#" class="btn-text">Informations</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse">
                            <i class="im-chemical icon circle"></i>
                            <h3>Color the business</h3>
                            <p>
                                Artiso iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce baeto arnio.
                            </p>
                            <a href="#" class="btn-text">Informations</a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="advs-box advs-box-top-icon boxed-inverse">
                            <i class="im-brain-2 icon circle"></i>
                            <h3>Abstract arts</h3>
                            <p>
                                Eucilide iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce baeto betto.
                            </p>
                            <a href="#" class="btn-text">Informations</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about" class="section-empty background-lines">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>Start having passions for the nature</h2>
                    </div>
                    <div class="col-md-4">
                        <p class="text-bold">We create digital assets and we're focused on Web Technologies and Design, based on London, United Kingdom. We are dreamers and hard workers so start now with us.</p>
                        <hr class="space s" />
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                    <div class="col-md-4">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco labo ipiscing aretsu pertollio martio arenco do eiusmod tempor inciriso.
                        </p>
                    </div>
                </div>
                <hr class="space l" />
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Burning man burst</h3>
                                        <p>Aeniam quis nostrud exercitatio</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>A family of friends</h3>
                                        <p>Eiusmod tempor incididunte</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>The dog and the cat</h3>
                                        <p>Tadipiscing elitsed do eiusmo</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>We are dreamers</h3>
                                        <p>Aeniam quis nostrud exercitatio</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>We create the future</h3>
                                        <p>Eiusmod tempor incididunte</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>We're hard workers</h3>
                                        <p>Tadipiscing elitsed do eiusmo</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>State of art services</h3>
                                        <p>Text of secondary area</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Lovely support for everyone</h3>
                                        <p>Tadolore magna aliqua</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Latest technologies</h3>
                                        <p>Raminim veniam quis</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-image parallax-window background-lines-3" data-natural-height="900" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x900">
            <div class="container content">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4 boxed-inverse" data-anima="fade-right">
                        <h2>Richard Brenson</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                        </p>
                        <img src="../images/sign-3.png" alt="Alternate Text" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-4">
                        <h2>Our testimonials</h2>
                        <hr class="space s" />
                        <a href="#" class="btn-text">More testimonials</a>
                    </div>
                    <div class="col-md-8">
                        <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:30,numItems:2,controlNav:false,directionNav:true">
                            <ul class="slides">
                                <li>
                                    <div class="advs-box niche-box-testimonails-cloud">
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed doode tempore.

                                        </p>
                                        <div class="name-box vertical-row">
                                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('http://via.placeholder.com/450x450')"></i>
                                            <h5 class="vertical-col subtitle">Natasha Paun<span class="subtxt">Google</span></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box niche-box-testimonails-cloud">
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmo.

                                        </p>
                                        <div class="name-box vertical-row">
                                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('http://via.placeholder.com/450x450')"></i>
                                            <h5 class="vertical-col subtitle">Albert De Niro<span class="subtxt">Facebook</span></h5>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box niche-box-testimonails-cloud">
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmo.

                                        </p>
                                        <div class="name-box vertical-row">
                                            <i class="vertical-col fa text-l circle onlycover" style="background-image:url('http://via.placeholder.com/450x450')"></i>
                                            <h5 class="vertical-col subtitle">Alissa William<span class="subtxt">Microsoft</span></h5>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="portfolio" class="section-empty background-lines-2">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <h2>Portfolio</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="maso-list maso-layout">
                    <div class="navbar navbar-inner">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav over ms-minimal inner maso-filters">
                                <li class="current-active active"><a data-filter="maso-item">All</a></li>
                                <li><a data-filter="cat1">Arts</a></li>
                                <li><a data-filter="cat2">Urban</a></li>
                                <li><a data-filter="cat3">Creative</a></li>
                                <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="maso-box row">
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>The retrò show</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat3 cat4">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>Superior networking</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat4">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>People of the dark</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat3 cat4">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>Citizens and people</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>Walking city tour</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1 cat2">
                            <div class="img-box adv-img adv-img-full-content shadow" data-anima="fade-in" data-trigger="hover" data-anima-out="hide">
                                <div class="img-box anima-scale-up anima">
                                    <img src="http://via.placeholder.com/800x600" alt="" />
                                </div>
                                <a href="#" class="caption-bg img-box anima">
                                    <div class="caption">
                                        <div class="inner">
                                            <h2>Secret live concert</h2>
                                            <p class="sub">Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <hr class="space m" />
                <a href="#" class="btn btn-sm">View projects</a>
            </div>
        </div>
        <div id="prices" class="section-empty">
            <div class="container content">
                <table class="grid-table border-table">
                    <tbody>
                        <tr>
                            <td><h2 class="text-right">Pricings</h2></td>
                            <td>
                                <p class="text-left">
                                    Aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr class="space m" />
                <div class="row" data-anima="fade-bottom" data-timeline="asc">
                    <div class="col-md-4">
                        <div class="list-group pricing-table anima">
                            <div class="list-group-item pricing-price">
                                99 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>
                                    Starter plan
                                </h3>
                            </div>
                            <div class="list-group-item">
                                General contracting
                            </div>
                            <div class="list-group-item">
                                Pre-Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-group pricing-table anima">
                            <div class="list-group-item pricing-price">
                                199 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>Plus plan</h3>
                            </div>
                            <div class="list-group-item">
                                General contracting
                            </div>
                            <div class="list-group-item">
                                Pre-Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="list-group pricing-table anima">
                            <div class="list-group-item pricing-price">
                                1999 <span>$</span>
                            </div>
                            <div class="list-group-item pricing-name">
                                <h3>Exclusive plan</h3>
                            </div>
                            <div class="list-group-item">
                                Premium contracting
                            </div>
                            <div class="list-group-item">
                                All Minimal services
                            </div>
                            <div class="list-group-item">
                                Minimal consulting
                            </div>
                            <div class="list-group-item">
                                Metal roofing
                            </div>
                            <div class="list-group-item">
                                businesss
                            </div>
                            <div class="list-group-item">
                                Design-build
                            </div>
                            <div class="list-group-item">
                                24/7 support
                            </div>
                            <div class="list-group-item">
                                <a class="btn btn-sm btn-default" href="#"> Order now </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-image parallax-window background-lines-3" data-natural-height="900" data-natural-width="1920" data-parallax="scroll" data-image-src="http://via.placeholder.com/1920x900">
            <div class="container content">
                <div class="row">
                    <div class="col-md-4 boxed-inverse" data-anima="fade-left">
                        <h2>Wild lifestyle</h2>
                        <p>
                            It is better to lead from behind and to put others in front,
                            especially when you celebrate victory when nice things occur.
                            You take the front line when there is danger. Then people will appreciate your leadership.
                        </p>
                        <hr class="space s" />
                        <a href="#" class="btn-text">Read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="services" class="section-empty background-lines">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Services</h2>
                    <p>Auis aute irure dolo irure dolor in reprehenderit in voluptate loremisi ut aliquip ex ea commodo caute irure dolor in reprehenderio.</p>
                </div>
                <hr class="space m hidden-xs" />
                <div class="row">
                    <div class="col-md-2" data-anima="fade-bottom">
                        <hr class="space l hidden-xs" />
                        <a class="img-box shadow row-8" href="#">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                    <div class="col-md-2" data-anima="fade-bottom">
                        <a class="img-box shadow row-17" href="#">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-6 col-sm-12 background-dots background-white" data-anima="fade-bottom">
                        <div class="list-items">
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Steamed king crab</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse pertollo.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Roast partridge</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse cillume.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Salad of shaved fenne</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/800x600)"></i>
                                        <h3>Slow roasted white</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate esse articolo.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9.5$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space" />
                <div class="row">
                    <div class="col-md-6" data-anima="fade-bottom">
                        <div class="list-items">
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Steamed king crab</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Roast partridge</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito partlo.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Salad of shaved fenne</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item list-item-img">
                                <div class="row">
                                    <div class="col-md-9">
                                        <i class="onlycover circle icon" style="background-image:url(http://via.placeholder.com/500x500)"></i>
                                        <h3>Slow roasted white</h3>
                                        <p>
                                            Duis aute irure dolo irure dolor in reprehenderit in voluptate velito esse arto.
                                        </p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9.5$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" data-anima="fade-bottom">
                        <a class="img-box lightbox shadow row-9" href="">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                        <hr class="space m" />
                        <a class="img-box lightbox shadow row-8" href="">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                    <div class="col-md-2" data-anima="fade-bottom">
                        <hr class="space m" />
                        <a class="img-box lightbox shadow row-6" href="">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                        <hr class="space m" />
                        <a class="img-box lightbox shadow row-4" href="">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                </div>
                <hr class="space l" />
                <div class="text-center"><a href="#" class="btn btn-sm">Explore services</a></div>
            </div>
        </div>
        <div id="contacts" class="section-empty background-lines-2">
            <div class="container content">
                <div class="row propo" data-anima="fade-bottom">
                    <div class="col-md-4">
                        <h2>Contacts</h2>
                        <p>
                            Lorem ipsum d oris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolore.
                        </p>
                        <hr class="space s" />
                        <ul class="fa-ul " >
                            <li><i class="fa-li im-marker"></i> Street Carbone 25/A, London, UK</li>
                            <li><i class="fa-li im-phone"></i> (+05) 320-3256472</li>
                            <li><i class="fa-li im-fax"></i> (+05) 320-3256475</li>
                            <li><i class="fa-li im-envelope"></i> contacts@example.com</li>
                        </ul> 
                        <hr class="space m" />
                        <hr class="space xs" />
                        <a href="#" class="btn btn-sm">Write us now</a>
                    </div>
         
                    <div class="col-md-6 boxed-inverse no-paddings pull-right">
                        <div class="google-map row-16" data-address="London, UK" data-skin="" data-zoom="12" data-marker-pos-top="15"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax bg-white">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
