<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ellipse | Home | Structura</title>
    <meta name="description" content="Multipurpose HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/css/image-box.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/scripts/flexslider/flexslider.css">
    <link rel="stylesheet" href="../HTWF/scripts/magnific-popup.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="stylesheet" href="../HTWF/scripts/social.stream.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body class="side-menu-container" data-spy="scroll" data-target="#menu" data-offset="250">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <header class="side-menu-header side-social" data-menu-anima="default">
            <div class="navbar-header">
                <a class="hamburger-button" data-menu-anima="fade-left">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand" href="../demo-main/index.html"><img src="../images/logo.png" alt="logo"></a>
            </div>
            <div class="side-menu-fixed">
                <div class="top-area">
                    <a class="brand" href="../demo-main/index.html">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                </div>
                <aside class="sidebar mi-menu box-middle-container">
                    <nav class="sidebar-nav box-middle">
                        <ul id="menu" class="side-menu ms-simple">
                            <li><a href="#about"> About</a></li>
                            <li><a href="#awards"> Awards</a></li>
                            <li><a href="#gallery"> Gallery</a></li>
                            <li><a href="#services"> Services</a></li>
                            <li><a href="#news"> News</a></li>
                            <li><a href="#contacts"> Contacts</a></li>
                        </ul>
                    </nav>
                </aside>
                <div class="bottom-area">
                    <div class="social-group">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <p>© 2018. All rights reserved. </p>
                </div>
            </div>
        </header>
        <div class="section-bg-image parallax-window" data-natural-height="705" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/bars-bg.jpg">
            <div class="container content">
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-3 hidden-sm"></div>
                    <div class="col-md-3" data-anima="fade-bottom">
                        <h2 class="text-s font-1 rotate-block">Tokyo based minimal artist<br />with passion for painting<br />and conceptual design</h2>
                    </div>
                    <div class="col-md-6">
                        <h1 class="text-xxl text-black font-1">
                            Hello.<br />
                            I call me<br />
                            Structura
                        </h1>
                    </div>
                </div>
                <hr class="space m" />
            </div>
        </div>
        <div id="about" class="section-empty background-lines-2">
            <div class="container content">
                <div class="flexslider carousel visible-dir-nav  " data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:true,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-video-4 text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Videos</label>
                                    <p class="text-s">Loremo ipsume dolorle</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class=" im-cloud-music text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Music</label>
                                    <p class="text-s">Aeipsume dolorge</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-cloud-hail text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Society</label>
                                    <p class="text-s">Loreme ipsuma dolore</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-cool-guy text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">People</label>
                                    <p class="text-s">Reipsume dolore auio</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-line-chart4 text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Marketing</label>
                                    <p class="text-s">Apsum dolore mento</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-penguin text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Graphics</label>
                                    <p class="text-s">Lorem ipsum dolor</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class=" im-cloud-music text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Music</label>
                                    <p class="text-s">Aeipsume dolorge</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box icon-box-top-bottom">
                                <div class="icon-box-cell">
                                    <i class="im-cloud-hail text-l"></i>
                                </div>
                                <div class="icon-box-cell">
                                    <label class="text-m">Society</label>
                                    <p class="text-s">Loreme ipsuma dolore</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-empty background-lines-2">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-6 col-sm-12">
                        <h2>I love design and coding</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <hr class="space s" />
                        <a href="#" class="btn-text">Read more</a>
                        <hr class="space l" />
                        <h2 class="text-right">I love design and coding</h2>
                        <p class="text-right">
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                            in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <hr class="space s" />
                        <a href="#" class="btn-text pull-right">Read more</a>
                    </div>
                    <div class="col-md-2">
                        <hr class="space" />
                        <a class="img-box lightbox row-11 img-bar shadow" data-anima-lightbox="fade-right" href="http://via.placeholder.com/800x1300">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <a class="img-box lightbox row-20 img-bar shadow" data-anima-lightbox="fade-top" href="http://via.placeholder.com/800x1300">
                            <img src="http://via.placeholder.com/800x1300" alt="">
                        </a>
                        <hr class="space m" />
                        <a class="img-box lightbox row-6 img-bar shadow" data-anima-lightbox="fade-left" href="http://via.placeholder.com/800x600">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                    <div class="col-md-2">
                        <hr class="space l" />
                        <a class="img-box lightbox row-9 img-bar shadow" data-anima-lightbox="fade-rop" href="http://via.placeholder.com/800x600">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                        <hr class="space m" />
                        <a class="img-box lightbox row-5 img-bar shadow" data-anima-lightbox="fade-right" href="http://via.placeholder.com/800x600">
                            <img src="http://via.placeholder.com/800x600" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id="awards" class="section-empty background-lines-2">
            <div class="container content">
                <div class="row">
                    <div class="col-md-6 col-sm-12 boxed-inverse">
                        <h2>Skills</h2>
                        <hr class="space m" />
                        <p class="progress-label">Web Design</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="60">
                                <span>60%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Front-End Dev</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="85">
                                <span>85%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">Back-End Dev</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="50">
                                <span>50%</span>
                            </div>
                        </div>
                        <hr class="space s" />
                        <p class="progress-label">UI/UX Design</p>
                        <div class="progress">
                            <div class="progress-bar" data-progress="95">
                                <span>95%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <hr class="space m visible-sm" />
                        <hr class="space s" />
                        <h2>Awards</h2>
                        <p>Css Design Awards</p>
                        <a href="#" class="btn btn-sm no-margins">Special Kudos</a>
                        <hr class="space xs" />
                        <p>Awwwards</p>
                        <a href="#" class="btn btn-sm no-margins">Honorable Mention</a>
                        <hr class="space xs" />
                        <p>Mindsparkle Mag</p>
                        <a href="#" class="btn btn-sm no-margins">Site of the day</a>
                    </div>
                    <div class="col-md-3">
                        <hr class="space m visible-sm" />
                        <p>Code Tech Hole</p>
                        <a href="#" class="btn btn-sm no-margins">Hall of Fame</a>
                        <hr class="space xs" />
                        <p>Strummble</p>
                        <a href="#" class="btn btn-sm no-margins">Best of the month</a>
                        <hr class="space xs" />
                        <p>Deskowo</p>
                        <a href="#" class="btn btn-sm no-margins">Honorable Work</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="gallery" class="section-empty">
            <div class="container content">
                <div class="row">
                    <div class="col-md-8">
                        <div class="flexslider carousel outer-navs" data-options="minWidth:150,itemMargin:30,numItems:4,controlNav:true,directionNav:true">
                            <ul class="slides">
                                <li>
                                    <a class="img-box mfp-iframe i-center img-bar shadow row-12" href="../images/gallery/image-1.jpg">
                                        <i class="im-add"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box mfp-iframe i-center img-bar shadow row-10" href="../images/gallery/image-1.jpg">
                                        <i class="im-add"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box mfp-iframe i-center img-bar shadow row-14" href="../images/gallery/image-1.jpg">
                                        <i class="im-add"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box mfp-iframe i-center img-bar shadow row-12" href="../images/gallery/image-1.jpg">
                                        <i class="im-add"></i>
                                        <img src="http://via.placeholder.com/800x1300" alt="" />
                                    </a>
                                </li>
                                <li>
                                    <a class="img-box mfp-iframe i-center img-bar shadow row-10" href="../images/gallery/image-1.jpg">
                                        <i class="im-add"></i>
                                        <img src="http://via.placeholder.com/800x600" alt="" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>Gallery</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        </p>
                        <hr class="space s" />
                        <a href="#" class="btn-text">All photos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-image parallax-window" data-natural-height="800" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/bars-bg-2.jpg">
            <div class="container content">
                <hr class="space m" />
                <div class="row">
                    <div class="col-md-6" data-anima="fade-left">
                        <h1 class="text-xxl text-black font-1">
                            Start<br />
                            From here<br />
                            Contact us
                        </h1>
                    </div>
                </div>
                <hr class="space m" />
            </div>
        </div>
        <div id="services" class="section-empty background-lines-2">
            <div class="container content">
                <div class="title-base">
                    <hr />
                    <h2>Services</h2>
                    <p>Duis aute irure dolor in reprehenderit artellio partilo velita esse cillum dolore eu fugiata melone artento ascolto nulla pariature.</p>
                </div>
                <div class="maso-list gallery">
                    <div class="maso-box row">
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-old-tv icon circle anima"></i>
                                <h3>Retrò shows</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga! Purus expedita fusce martillo partiono.
                                </p>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-bar-chart2 icon circle anima"></i>
                                <h3>Superior networking</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-bird-deliveringletter icon circle anima"></i>
                                <h3>Email marketing</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat fuga!
                                </p>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-brain-2 icon circle anima"></i>
                                <h3>Artifical intelligence</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                </p>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-chemical-3 icon circle anima"></i>
                                <h3>Web design</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitationo.

                                </p>
                            </div>
                        </div>
                        <div data-sort="1" class="maso-item col-md-4 cat1">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="rotate-20" data-trigger="hover">
                                <i class="im-old-tv icon circle anima"></i>
                                <h3>Code developing</h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod temporr elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                                    Utenim ad minim veniam quis nostrud exercitationo..
                                </p>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty background-lines-2">
            <div class="container content">
                <div class="flexslider carousel png-over outer-navs" data-options="minWidth:200,itemMargin:30,numItems:5,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <img src="../images/logos/logo_1b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_2b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_3b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_4b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_5b.png" alt="logo" />
                        </li>
                        <li>
                            <img src="../images/logos/logo_1b.png" alt="logo" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="news" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-8">
                        <div class="flexslider carousel outer-navs" data-options="minWidth:250,itemMargin:40,numItems:2,controlNav:false,directionNav:true">
                            <ul class="slides">
                                <li>
                                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">25</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x470" alt="" /></a>
                                        <div class="advs-box-content">
                                            <h2><a href="#">The tech conference of media and innovation</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Tech</a>, <a href="#">Arts</a></span>
                                                <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                            </div>
                                            <p class="niche-box-content">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore magna aliqua.
                                            </p>
                                            <a class="btn-text" href="#">Read more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse  " data-anima="scale-rotate" data-trigger="hover">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">28</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x470" alt="" /></a>
                                        <div class="advs-box-content">
                                            <h2><a href="#">Borouget market taste from inside</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Tech</a>, <a href="#">Arts</a></span>
                                                <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                            </div>
                                            <p class="niche-box-content">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore magna aliqua.
                                            </p>
                                            <a class="btn-text" href="#">Read more</a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse  " data-anima="scale-rotate" data-trigger="hover">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">31</p>
                                                <p class="bd-month">July</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <a class="img-box"><img class="anima" src="http://via.placeholder.com/800x470" alt="" /></a>
                                        <div class="advs-box-content">
                                            <h2><a href="#">Artificial intelligence and sociality</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Tech</a>, <a href="#">Arts</a></span>
                                                <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                            </div>
                                            <p class="niche-box-content">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore magna aliqua.
                                            </p>
                                            <a class="btn-text" href="#">Read more</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h2>News, events and social feeds</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
                        <hr class="space m" />
                        <a href="#" class="btn btn-sm">Visit the blog</a>
                    </div>
                </div>
                <hr class="space m" />
                <div class="social-feed-tw flexslider carousel outer-navs" data-social-id="envato" data-options="minWidth:250,show_media:false,limit:10" data-anima="fade-bottom"></div>
            </div>
        </div>
        <div id="contacts" class="section-empty">
            <div class="container content">
                <div class="row" data-anima="fade-bottom">
                    <div class="col-md-6">
                        <h2>Contact us, we don't bite</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                            Utenim ad minim veniam quis nostrud exercitation ullamco.
                        </p>
                        <hr class="space m" />
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Your name</p>
                                    <input id="name" name="name" placeholder="" type="text" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-4">
                                    <p>Email</p>
                                    <input id="email" name="email" placeholder="" type="email" class="form-control form-value" required="">
                                </div>
                                <div class="col-md-4">
                                    <p>Phone number</p>
                                    <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                </div>
                            </div>
                            <hr class="space xs">
                            <p>Your message</p>
                            <textarea id="messagge" name="messagge" placeholder="" class="form-control form-value" required=""></textarea>
                            <hr class="space s">
                            <a class="btn-sm btn">Send messagge</a>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <hr class="space m visible-sm" />
                        <h2>Times</h2>
                        <hr class="space s">
                        <ul class="list-texts">
                            <li><b>Mon-Fri</b> 11am - 15pm</li>
                            <li><b>Saturday</b> 11am - 23pm</li>
                            <li><b>Sunday</b> Closed</li>
                        </ul>
                        <hr class="space m" />
                        <h2>Contact</h2>
                        <hr class="space s">
                        <ul class="list-texts">
                            <li><b>Address</b> 2514 Glebe Rd, Lemon Grove, CA, 91945</li>
                            <li><b>Phone</b> +1 (229) 346-1100</li>
                            <li><b>Email</b> creative@example.com </li>
                        </ul>
                        <hr class="space m">
                        <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&amp;hl=en&amp;t=v&amp;hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="btn-border btn btn-sm lightbox" data-lightbox-anima="fade-left">View map</a>

                    </div>
                     
                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/flexslider/jquery.flexslider-min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/php/contact-form.js"></script>
        <script src="../HTWF/scripts/jquery.progress-counter.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.popover.min.js"></script>
        <script src="../HTWF/scripts/jquery.magnific-popup.min.js"></script>
        <script src="../HTWF/scripts/social.stream.min.js"></script>
        <script src="../HTWF/scripts/google.maps.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../HTWF/scripts/jquery.slimscroll.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
