<!DOCTYPE html>
<!--[if lt IE 10]> <html  lang="en" class="iex"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Portfolio | 5 | Structura</title>
    <meta name="description" content="Portfolio with categories and filters, cunstruction HTML template.">
    <link rel="stylesheet" href="../HTWF/scripts/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../HTWF/style.css">
    <link rel="stylesheet" href="../HTWF/css/animations.css">
    <link rel="stylesheet" href="../HTWF/css/components.css">
    <link rel="stylesheet" href="../HTWF/css/content-box.css">
    <link rel="stylesheet" href="../HTWF/scripts/php/contact-form.css">
    <link rel="icon" href="../images/favicon.png">
    <link rel="stylesheet" href="../skin.css">
</head>
<body class="side-menu-container">
    <div id="preloader"></div>
    <div class="footer-parallax-container">
        <header class="side-menu-header side-menu-lateral" data-menu-anima="default">
            <div class="navbar-header">
                <a class="hamburger-button" data-menu-anima="fade-left">
                    <i class="fa fa-bars"></i>
                </a>
                <a class="navbar-brand" href="index.html">
                    <img src="../images/logo.png" alt="logo">
                </a>
            </div>
            <div class="side-menu-fixed">
                <div class="top-area">
                    <a class="brand" href="index.html">
                        <img src="../images/logo.png" alt="logo">
                    </a>
                </div>
                <aside class="sidebar mi-menu">
                    <nav class="sidebar-nav">
                        <ul class="side-menu">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Home <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Homes one</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-square.html">Square</a></li>
                                            <li><a href="index-cube.html">Cube</a></li>
                                            <li><a href="index-parallelogram.html">Parallelogram</a></li>
                                            <li><a href="index-ellipse.html">Ellipse</a></li>
                                            <li><a href="index-rectangle.html">Rectangle</a></li>
                                            <li><a href="index-circle.html">Circle</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Homes two</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="index-triangle.html">Triangle</a></li>
                                            <li><a href="index-hexagon.html">Hexagon</a></li>
                                            <li><a href="index-pentagon.html">Pentagon</a></li>
                                            <li><a href="index-line.html">Line</a></li>
                                            <li><a href="index-fullpage.html">Fullpage</a></li>
                                            <li><a href="index.html">Intro</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Pages <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Niche</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="gallery.html">Photo & video</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="history.html">History</a></li>
                                            <li><a href="team.html">Team</a></li>
                                            <li><a href="coming-soon.html">Coming soon</a></li>
                                            <li><a href="404.html">404</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="about-us-1.html">About us one</a></li>
                                            <li><a href="about-us-2.html">About us two</a></li>
                                            <li><a href="about-us-3.html">About us three</a></li>
                                            <li><a href="about-us-4.html">About us four</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="contacts-1.html">Contacts one</a></li>
                                            <li><a href="contacts-2.html">Contacts two</a></li>
                                            <li><a href="contacts-3.html">Contacts three</a></li>
                                            <li><a href="contacts-4.html">Contacts four</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Portfolio <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="portfolio-1.html">Portfolio one</a></li>
                                    <li><a href="portfolio-2.html">Portfolio two</a></li>
                                    <li><a href="portfolio-3.html">Portfolio three</a></li>
                                    <li><a href="portfolio-4.html">Portfolio four</a></li>
                                    <li><a href="portfolio-5.html">Portfolio five</a></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single item</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="portfolio-single-1.html">Single one</a></li>
                                            <li><a href="portfolio-single-2.html">Single two</a></li>
                                            <li><a href="portfolio-single-3.html">Single three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Blog <span class="caret"></span></a>
                                <ul class="dropdown-menu multi-level">
                                    <li><a href="blog-grid.html">Grid</a></li>
                                    <li><a href="blog-masonry.html">Masonry</a></li>
                                    <li><a href="blog-classic.html">Classic</a></li>
                                    <li class="dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Single post</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="blog-single-1.html">Single one</a></li>
                                            <li><a href="blog-single-2.html">Single two</a></li>
                                            <li><a href="blog-single-3.html">Single three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </aside>
                <div class="bottom-area">
                    <div class="social-group">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                    <p>© 2018. All rights reserved. </p>
                </div>
            </div>
        </header>
        <div class="header-base bg-cover" style="background-image:url(http://via.placeholder.com/1920x1000)">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="title-base text-left">
                            <h1>Portfolio five</h1>
                            <p>If you're trying to create a company, it's like baking a cake. You have to have all the ingredients in the right proportion.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <ol class="breadcrumb b white">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Project</a></li>
                            <li class="active">Portfolio</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-empty background-lines-2">
            <div class="container content">
                <div class="grid-list gallery list-sm-6">
                    <div class="grid-box row">
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-air-balloon icon circle anima"></i>
                                <h3>Arts and culture</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-aquarius icon circle anima"></i>
                                <h3>Socity and people</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-box-open icon circle anima"></i>
                                <h3>Social experiments</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-cardiovascular icon circle anima"></i>
                                <h3>Healty of work</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odio.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-chemical-5 icon circle anima"></i>
                                <h3>Guerrilla marketing</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-clouds icon circle anima"></i>
                                <h3>Governments politics</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-dice-2 icon circle anima"></i>
                                <h3>Youth and childrens</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-coffee icon circle anima"></i>
                                <h3>Music of sounds</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est oditiilpo.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                        <div class="grid-item col-md-4 col-sm-6">
                            <div class="advs-box advs-box-top-icon boxed-inverse" data-anima="scale-up" data-trigger="hover">
                                <i class="im-cupcake icon circle anima"></i>
                                <h3>Social marketing</h3>
                                <p>
                                    Interdum iusto pulvinar consequuntur augue optio, repellat maleri fuga! Purus expedita fusce temporibus est odit mi.
                                </p>
                                <a class="btn-text" href="#">Enter now </a>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <ul class="pagination-sm pagination-grid" data-page-items="6" data-pagination-anima="show-scale"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <i class="scroll-top scroll-top-mobile show fa fa-sort-asc"></i>
    <footer class="footer-parallax bg-white">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="tag-row icon-row icon-row-square">
                            <span><a>About</a></span>
                            <span><a>Services</a></span>
                            <span><a>Support</a></span>
                            <span><a>Contacts</a></span>
                        </div>
                    </div>
                    <div class="col-md-6 text-right text-center-sm">
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook" data-toggle="tooltip" data-placement="top" title="Facebook">
                                <i class="fa fa-facebook text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-twitter" data-toggle="tooltip" data-placement="top" title="Twitter">
                                <i class="fa fa-twitter text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-google" data-toggle="tooltip" data-placement="top" title="Google+">
                                <i class="fa fa-google-plus text-s"></i>
                            </a>
                            <a target="_blank" href="#" data-social="share-linkedin" data-toggle="tooltip" data-placement="top" title="LinkedIn">
                                <i class="fa fa-linkedin text-s"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row copy-row">
                    <div class="col-md-12 copy-text">
                        © 2018 Structura - One page minimal template <span>Handmade by <a href="http://schiocco.com/">schiocco.com</a></span>
                    </div>
                </div>
            </div>
        </div>
        <script src="../HTWF/scripts/jquery.min.js"></script>
        <script src="../HTWF/scripts/script.js"></script>
        <link rel="stylesheet" href="../HTWF/scripts/iconsmind/line-icons.min.css">
        <script src="../HTWF/scripts/bootstrap/js/bootstrap.min.js"></script>
        <script src="../HTWF/scripts/imagesloaded.min.js"></script>
        <script src="../HTWF/scripts/isotope.min.js"></script>
        <script src="../HTWF/scripts/jquery.twbsPagination.min.js"></script>
        <script src="../HTWF/scripts/jquery.tab-accordion.js"></script>
        <script src="../HTWF/scripts/parallax.min.js"></script>
        <script src="../HTWF/scripts/smooth.scroll.min.js"></script>
    </footer>
</body>
</html>
